{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoroKaro</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/loginstyles.css' %}">
</head>
<body>
    <div class="register-form">
        <div class="form_logo">
            <img src="{% static 'Assets/signup-log.png' %}" alt="login-logo.png"  class="logo">
        </div>
        <div class="form_details">
            <form method="post" action="/signup/">
                {% csrf_token %}
                <div class="form_details-top">
                    <div class="left-form-details">
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/user-icon.png' %}" alt="user-icon">
                            </div>
                            <div class="inputbox">
                                <input type="text" name="name" class="textinputs" placeholder="NAME"><br><br>
                            </div>
                        </div><br>
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/email-icon.png' %}" alt="email-icon">
                            </div>
                            <div class="inputbox">
                                <input type="text" name="email" class="textinputs" placeholder="EMAIL"><br><br>
                            </div>
                        </div><br>
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/lock-icon.png' %}" alt="lock-icon">
                            </div>
                            <div class="inputbox">
                                <input type="password" name="password" class="textinputs" placeholder="PASSWORD"><br><br>
                            </div>
                        </div><br>
                    </div>
                    
                    <div class="right-form-details">
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/phone-icon.png' %}" alt="phone-icon">
                            </div>
                            <div class="inputbox">
                                <input type="tel" name="phoneno" class="textinputs" placeholder="PHONE NO:" maxlength="11"><br><br>
                            </div>
                        </div><br>
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/state-icon.png' %}" alt="state-icon">
                            </div>
                            <div class="inputbox">
                                <!-- <select  class="textinputs">

                                    <option value="" class="options"disabled selected>STATE</option>
                                    <option value="Kerala" class="options">Kerala</option>
                                    <option value="Tamilnadu" class="options">Tamilnadu</option>
                                    <option value="Karnataka" class="options">Karnataka</option>
                                </select> -->
                                <select class="textinputs" id="states" name="states">
                                    <option value="SelectState" class="options" disabled selected>STATE</option>
                                    <option value="Andra Pradesh" class="options">Andra Pradesh</option>
                                    <option value="Arunachal Pradesh" class="options">Arunachal Pradesh</option>
                                    <option value="Assam" class="options">Assam</option>
                                    <option value="Bihar" class="options">Bihar</option>
                                    <option value="Chhattisgarh" class="options">Chhattisgarh</option>
                                    <option value="Goa" class="options">Goa</option>
                                    <option value="Gujarat" class="options">Gujarat</option>
                                    <option value="Haryana" class="options">Haryana</option>
                                    <option value="Himachal Pradesh" class="options">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir" class="options">Jammu and Kashmir</option>
                                    <option value="Jharkhand" class="options">Jharkhand</option>
                                    <option value="Karnataka" class="options">Karnataka</option>
                                    <option value="Kerala" class="options">Kerala</option>
                                    <option value="Madya Pradesh" class="options">Madya Pradesh</option>
                                    <option value="Maharashtra" class="options">Maharashtra</option>
                                    <option value="Manipur" class="options">Manipur</option>
                                    <option value="Meghalaya" class="options">Meghalaya</option>
                                    <option value="Mizoram" class="options">Mizoram</option>
                                    <option value="Nagaland" class="options">Nagaland</option>
                                    <option value="Orissa" class="options">Orissa</option>
                                    <option value="Punjab" class="options">Punjab</option>
                                    <option value="Rajasthan" class="options">Rajasthan</option>
                                    <option value="Sikkim" class="options">Sikkim</option>
                                    <option value="Tamil Nadu" class="options">Tamil Nadu</option>
                                    <option value="Telangana" class="options">Telangana</option>
                                    <option value="Tripura" class="options">Tripura</option>
                                    <option value="Uttaranchal" class="options">Uttaranchal</option>
                                    <option value="Uttar Pradesh" class="options">Uttar Pradesh</option>
                                    <option value="West Bengal" class="options">West Bengal</option>
                                    <option disabled style="background-color:rgb(154, 182, 223); color:#fff">UNION Territories</option>
                                    <option value="Andaman and Nicobar Islands" class="options">Andaman and Nicobar Islands</option>
                                    <option value="Chandigarh" class="options">Chandigarh</option>
                                    <option value="Dadar and Nagar Haveli" class="options">Dadar and Nagar Haveli</option>
                                    <option value="Daman and Diu" class="options">Daman and Diu</option>
                                    <option value="Delhi" class="options">Delhi</option>
                                    <option value="Lakshadweep" class="options">Lakshadweep</option>
                                    <option value="Pondicherry" class="options">Pondicherry</option>
                                </select>
                            </div>
                        </div><br>
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/district-icon.png' %}" alt="district-icon">
                            </div>
                            <div class="inputbox">
                                <!-- <select name="districts" class="textinputs">
                                    <option value="" class="options" disabled selected>DISTRICT</option>
                                    <option value="Thiruvananthapuram" class="options">Thiruvananthapuram</option>
                                    <option value="Kollam" class="options">Kollam</option>
                                    <option value="Kottayam" class="options">Kottayam</option>
                                    <option value="Malappuram" class="options">Malappuram</option>                                   
                               </select> -->
                               <select class="textinputs" id="districts" name="districts">
                                <option value="" class='options' disabled selected>DISTRICT</option>
                                </select>
                            </div>
                        </div><br>
                    </div>
                </div>
                <a href="index.html"><input type="submit" value="REGISTER" class="submitbutton"></a><br>
            </form>
            <div class="bottom">
                <div><p>Already have an account?<a href="/login" style="margin-left:5px ;">LOGIN</a> </p> </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>