{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoroKaro</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/loginstyles.css' %}">
</head>
<body>
    <div class="register-form">
        <div class="form_logo">
            <img src="{% static 'Assets/signup-log.png' %}" alt="login-logo.png"  class="logo">
        </div>
        <div class="form_details">
            <form method="post" action="/signup/">
                {% csrf_token %}
                <div class="form_details-top">
                    <div class="left-form-details">
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/user-icon.png' %}" alt="user-icon">
                            </div>
                            <div class="inputbox">
                                <input type="text" name="name" class="textinputs" placeholder="NAME"><br><br>
                            </div>
                        </div><br>
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/email-icon.png' %}" alt="email-icon">
                            </div>
                            <div class="inputbox">
                                <input type="text" name="email" class="textinputs" placeholder="EMAIL"><br><br>
                            </div>
                        </div><br>
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/lock-icon.png' %}" alt="lock-icon">
                            </div>
                            <div class="inputbox">
                                <input type="password" name="password" class="textinputs" placeholder="PASSWORD"><br><br>
                            </div>
                        </div><br>
                    </div>
                    
                    <div class="right-form-details">
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/phone-icon.png' %}" alt="phone-icon">
                            </div>
                            <div class="inputbox">
                                <input type="tel" name="phone" class="textinputs" placeholder="PHONE NO:"><br><br>
                            </div>
                        </div><br>
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/state-icon.png' %}" alt="state-icon">
                            </div>
                            <div class="inputbox">
                                <select name="states" class="textinputs">
                                    <option value="" class="options"disabled selected>STATE</option>
                                    <option value="Kerala" class="options">Kerala</option>
                                    <option value="Tamilnadu" class="options">Tamilnadu</option>
                                    <option value="Karnataka" class="options">Karnataka</option>
                                </select>
                            </div>
                        </div><br>
                        <div class="input">
                            <div class="inputicon">
                                <img src="{% static 'Assets/district-icon.png' %}" alt="district-icon">
                            </div>
                            <div class="inputbox">
                                <select name="districts" class="textinputs">
                                    <option value="" class="options" disabled selected>DISTRICT</option>
                                    <option value="Thiruvananthapuram" class="options">Thiruvananthapuram</option>
                                    <option value="Kollam" class="options">Kollam</option>
                                    <option value="Kottayam" class="options">Kottayam</option>
                                    <option value="Malappuram" class="options">Malappuram</option>                                   
                               </select>
                            </div>
                        </div><br>
                    </div>
                </div>
                <a href="index.html"><input type="submit" value="REGISTER" class="submitbutton"></a><br>
            </form>
            <div class="bottom">
                <div><p>Already have an account?<a href="/login" style="margin-left:5px ;">LOGIN</a> </p> </div>
            </div>
        </div>
    </div>
</body>
</html>