
body {
    background-image: url('Assets/LoginBG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: black; */
}


.form {
    width: 30%;
    height: 400px;
    /* border: 3px solid green; */
    padding: 10px;
    margin-bottom: 5%;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    
}

.logo {
    margin-left: 26%;
    align-items: center;    
    justify-content: center; 
}


.form_details{
    text-align: center;

}


  

.textinputs {
    width: 75%;
    height: 35px;
    border: none;
    background: none;
    /* border-color: white; */
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: 'Montserrat', 'sans-serif';
    color: rgba(255, 255, 255, 0.788);
    margin-left: -5%;
    margin-right: 1%;
}

.inputicon{
    float: left;
    padding: 3%;
    padding-left: 5%;
}

.submitbutton{
    width: 75%;
    height: 42px;
    border: none;
    border-radius: 5px;
    color: #2148c1;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.788);
    opacity: 1; /* Firefox */
    /* font-family: 'Times New Roman', Times, serif; */
} 
  

  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.788);
}

.input{
    border: 2px solid rgba(255, 255, 255, 0.788);
    border-radius: 5px;
    text-align: center;
    width: 72%;
    height: 39px;
    margin: auto;
}

.icons{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.788);
}

.inputbox {
    float:left;
    width: 100%;
    /* text-align: right; */
    margin-left: -17px;;
    padding-left: 0;
    /* width : 100%; */
    /* margin-right: 0; */
    margin-right: -30px;
    padding-right: 0;
}