
body {
    background-image: url('../Assets/LoginBG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: black; */
    font-family: 'Montserrat' !important;
}


.login-form {
    width: 400px;
    height: 400px;
    /* border: 3px solid green; */
    padding: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    
}
.register-form {
    width: 700px;
    height: 400px;
    /* border: 3px solid green; */
    padding: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    
}


.form_details{
    text-align: center;
}


.textinputs {
    width: 80%;
    height: 35px;
    border: none;
    background: none;
    /* border-color: white; */
    border-radius: 5px 5px 5px 5px;
    outline: none;
    font-family: 'Montserrat', 'sans-serif';
    color: rgba(255, 255, 255, 0.788);
    margin-left: -3%;
    margin-right: 0;
    font-size: small;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill{
    -webkit-text-fill-color: rgba(255, 255, 255, 0.788);
}

.inputicon{
    float: left;
    padding: 3%;
    padding-left: 5%;
    width: 3%;
    display: flex;
    justify-content: center;
}


.submitbutton{
    margin-top: 3%;
    width: 300px;
    height: 42px;
    border: none;
    border-radius: 5px;
    color: #2148C0;
    outline: none;
    font-weight: bold;
    box-shadow: 3px 3px 3px #45494a;
    font-size: small;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.788);
    opacity: 1; /* Firefox */
    /* font-family: 'Times New Roman', Times, serif; */
} 
  

  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.788);
}

.input{
    border: 2px solid rgba(255, 255, 255, 0.788);
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: 39px;
    margin: auto;
}

.icons{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.788);
    position: absolute;
    /* top: 50%; */
    /* -ms-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    align-items : center;
}

.inputbox {
    float:left;
    width: 97%;
    /* text-align: right; */
    margin-left: -17px;;
    padding-left: 0;
    /* width : 100%; */
    /* margin-right: 0; */
    margin-right: -30px;
    padding-right: 0;
}

.forgot{
    text-decoration: none;
    float: right;
}

.bottom {
    padding-top: 3%;
    color: rgba(255, 255, 255, 0.788);
    width: 300px;
    margin: auto;
}

.bottom a:link {
    color: rgba(255, 255, 255, 0.788);
}

.bottom a:visited {
    color: rgba(255, 255, 255, 0.788);
}

.form_logo {
    margin-bottom: 7%;
    text-align: center;
}


.left-form-details {
    float: left;
    position:relative;
    width: 50%;
}

.right-form-details {
    float: left;
    position: relative;
    width: 50%;
}


.options {
    background-color: #2148c1;
}

