{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="row container-fluid content p-0 m-0">
  <div class="col-xl-2 col-md-3 col-sm-4 col-xs-12 body-left pt-sm-5 pt-md-2 pt-lg-0 d-flex flex-column"
    id="act-body-left" style="--bs-gutter-x: none;">
    <div class="act-nav-option d-flex justify-content-center align-items-center pe-3" id="act-menu-div-1">
      <input type='radio' value='1' name='actvity' id="act-menu-opt-1" onClick="changeColor(this.value)">
      <label for="act-menu-opt-1">Rent Requests</label>
    </div>
    <div class="act-nav-option d-flex justify-content-center align-items-center pe-3" id="act-menu-div-2">
      <input type='radio' value='2' name='actvity' id="act-menu-opt-2" onClick="changeColor(this.value)">
      <label for="act-menu-opt-2">Ratings</label>
    </div>
    <div class="act-nav-option d-flex justify-content-center align-items-center pe-3" id="act-menu-div-3">
      <input type='radio' value='3' name='actvity' id="act-menu-opt-3" onClick="changeColor(this.value)">
      <label for="act-menu-opt-3">Comments</label>
    </div>
    <div class="act-nav-option d-flex justify-content-center align-items-center pe-3" id="act-menu-div-4">
      <input type='radio' value='4' name='actvity' id="act-menu-opt-4" onClick="changeColor(this.value)">
      <label for="act-menu-opt-4">Rent History</label>
    </div>
  </div>
  <div class="col-xl-10 col-md-9 col-sm-8 col-xs-12 body-right">
    <!-- Rent requests section -->
    <div id="rent-requests" class="pt-5 mx-5 px-4 pb-5">
      <h5 class="blue-text fw-bold mx-1">PENDING REQUESTS</h5>
      <!-- to display no pending requests if there is no pending requests -->
      {% if not pending %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2 shadow-sm">
        <h6 class="my-auto">No Pending Requests</h6>
      </div>
      {% else %}
        {% for request in requests %}
          {% if not request.status %}
            <div class="row bg-white rounded-2 p-3 mx-1 mb-2">
              <div class="col-12 d-flex justify-content-start" style="width: 60px; height: 20px; background-color: #C8D5FF;">
                <h6>{{request.days}} days</h6>
              </div>
              <div class="col-12 col-lg-2 d-flex flex-column align-items-start">
                <!--ADD LINK TO PROFILE OF BORROWER-->
                <a href="/profile/{{request.borrower.id}}" id="" class="text-primary my-auto">{{request.borrower.name}}</a>
              </div>
              <div class="col-12 col-lg-5 d-flex align-items-center">
                <h5 class="fw-bold mx-5">{{request.product.p_name}} </h5>
              </div>
              <div class="col-12 col-lg-5 d-flex flex-column mt-3">
                <div class="d-flex justify-content-center align-items-center">
                  <a class="btn btn-sm btn-primary me-3" href="#" role="button">CHAT</a>
                  <a class="btn btn-sm btn-success me-3" href="/accept/{{ request.id }}" role="button">ACCEPT</a>
                  <a class="btn btn-sm btn-danger me-3" href="/decline/{{ request.id }}" role="button">DECLINE</a>
                </div>
                <!-- time and date -->
                <div class="d-flex justify-content-end mt-3" style="height: 25px;">
                  <p class="me-2 text-secondary my-auto" style="font-size: 14px;"><em>{{request.time}}</em></p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="d-flex mx-1 mt-4">
        <h5 class="blue-text fw-bold me-auto">ACCEPTED REQUESTS</h5>
        <label for="acc-req-filter" class="me-2 my-auto fw-bold">Order by</label>
        <select name="" id="acc-req-filter" class="form-select mb-2" style="width: 200px;">
          <option value="NewToOldest">New To Oldest</option>
        </select>
      </div>
      <!-- to display no accepted requests if there is no accepted requests -->
      {% if not accepted %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2 shadow-sm">
        <h6 class="my-auto">No Accepted Requests</h6>
      </div>
      {% else %}
        {% for request in requests %}
          {% if request.status %}
            {% if request.status != 2 %}
              <div class="row bg-white rounded-2 p-3 mx-1 mb-2">
                <div class="col-12 col-lg-2 d-flex align-items-center">
                  <!--ADD LINK TO PROFILE OF BORROWER-->
                  <a href="/profile/{{request.borrower.id}}" id="" class="text-primary">{{request.borrower.name}}</a>
                </div>
                <div class="col-12 col-lg-5 d-flex align-items-center">
                  <h5 class="fw-bold mx-5">{{request.product.p_name}}</h5>
                </div>
                <div class="col-12 col-lg-5 d-flex flex-column mt-3">
                  <div class="d-flex justify-content-center align-items-center">
                    {% if request.status == 1 %}
                      <a class="btn btn-primary btn-sm me-3" href="/prodreceived/{{ request.id }}" role="button">PRODUCT
                        RECEIVED</a>
                    {% else %}
                      <!-- rate borrower -->
                      <a class="btn btn-sm btn-success me-3" href="/rateborrower">RATE BORROWER</a>
                    {% endif %}
                    <a class="btn btn-danger btn-sm me-3" href="/reportuser/{{ request.borrower.id }}" role="button">REPORT
                      USER</a>
                  </div>
                  <!-- time and date -->
                  <div class="d-flex justify-content-end mt-3" style="height: 25px;">
                    <p class="me-2 text-secondary my-auto" style="font-size: 14px;"><em>{{request.time}}</em></p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="d-flex mx-1 mt-4">
        <h5 class="blue-text fw-bold me-auto">DECLINED REQUESTS</h5>
        <label for="acc-req-filter" class="me-2 my-auto fw-bold">Order by</label>
        <select name="" id="dec-req-filter" class="form-select mb-2" style="width: 200px;">
          <option value="NewToOldest">New To Oldest</option>
        </select>
      </div>
      <!-- to display no declined requests if there is no declined requests -->
      {% if not declined %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2">
        <h6 class="my-auto">No Declined Requests</h6>
      </div>
      {% else %}
        {% for request in requests %}
          {% if request.status == 2 %}
            <div class="row bg-white rounded-2 p-3 mx-1">
              <div class="col-12 col-lg-2 d-flex align-items-center">
                <!--ADD LINK TO PROFILE OF BORROWER-->
                <a href="/profile/{{request.borrower.id}}" id="" class="text-primary">{{request.borrower.name}}</a>
              </div>

              <div class="col-12 col-lg-6 d-flex align-items-center">
                <h5 class="fw-bold mx-5">{{request.product.p_name}}</h5>
              </div>

              <div class="col-12 col-lg-4 d-flex flex-column mt-3">
                <!-- time and date -->
                <div class="d-flex justify-content-end mt-3" style="height: 25px;">
                  <p class="me-2 text-secondary my-auto" style="font-size: 14px;"><em>{{request.time}}</em></p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    <!-- Rating section  -->
    <!-- Borrowed ratings -->
    <div id="ratings" class="pt-1 mx-5 px-4 pb-5">
      <div class="d-flex mx-1 mt-5">
        <h5 class="blue-text fw-bold me-auto">BORROWED</h5>
        <div class="d-flex justify-content-between mb-2">
          <label for="borrowed-filter" class="me-2 my-auto fw-bold">Order by</label>
          <select name="" id="borrowed-filter" class="form-select" style="width: 200px;">
            <option value="NewToOldest">New To Oldest</option>
          </select>
        </div>
      </div>
      <!-- borrow ratings loop here -->
      <div class="bg-white rounded-3 p-3 d-flex align-items-center justify-content-start mb-2 shadow-sm" style="height: 120px">
        <div class="d-flex align-items-center" style="width: 120px; height: 90px;">
          <img src="{% static 'Assets/ProductImages/Product8-1.jpg' %}" alt="porduct-image"
            class="rounded card-img-activity">
        </div>
        <div class="d-flex align-items-center flex-fill">
          <div class="mt-sm-3 mt-md-0 d-flex flex-column flex-fill">
            <h6 class="fw-bold mx-5">DELL OptiPlex 7490 All-in-One Monitor Black </h6>
            <div class="d-flex justify-content-start">
              <div class="lender-rating ms-5 mt-2 d-flex">
                <h6 class="medium-font my-auto">Lender Rating : </h6>
                <div class="d-flex medium-font ms-3">
                  <!-- loop star here -->
                  <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star text-primary me-1"></i></p>
                </div>
              </div>
              <div class="lender-rating ms-5 mt-2 d-flex">
                <h6 class="medium-font my-auto">Product Rating :</h6>
                <div class="d-flex medium-font ms-3">
                  <!-- loop star here -->
                  <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star text-primary me-1"></i></p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <p class="text-muted mb-auto medium-font"><em>15/01/2022</em></p>
            </div>
          </div>
        </div>
      </div>

      <!-- lent ratings -->
      <div class="d-flex mx-1 mt-5">
        <h5 class="blue-text fw-bold me-auto">LENT</h5>
        <div class="d-flex justify-content-between mb-2">
          <label for="lend-filter" class="me-2 my-auto fw-bold">Order by</label>
          <select name="" id="lend-filter" class="form-select" style="width: 200px;">
            <option value="NewToOldest">New To Oldest</option>
          </select>
        </div>
      </div>

      <div class="bg-white rounded-3 p-3 d-flex align-items-center justify-content-start mb-2 shadow-sm" style="height: 120px">
        <div class="d-flex align-items-center" style="width: 120px; height: 90px;">
          <img src="{% static 'Assets/ProductImages/Product3-1.jpg' %}" alt="porduct-image"
            class="card-img-activity rounded">
        </div>
        <div class="d-flex align-items-center flex-fill">
          <div class="mt-sm-3 mt-md-0 d-flex flex-column flex-fill">
            <h6 class="fw-bold mx-5">DELL OptiPlex 7490 All-in-One Monitor Black </h6>
            <div class="d-flex justify-content-start">
              <div class="lender-rating ms-5 mt-2 d-flex">
                <h6 class="medium-font my-auto">Borrower Rating : </h6>
                <div class="d-flex medium-font ms-3">
                  <!-- loop star here -->
                  <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star text-primary me-1"></i></p>
                  <p class="my-auto"><i class="bi bi-star text-primary me-1"></i></p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <p class="text-muted mb-auto medium-font"><em>15/01/2022</em></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- comments -->
    <div id="comments" class="pt-5 px-4 mx-5 pb-5">
      <!-- comment loop here -->
      {% for comment in comments %}
      <div class="card mb-2 p-3">
        <div class="card-body p-0">
          <div class="d-flex">
            <a href="/product/{{comment.product.id}}" class="h6">{{comment.product.p_name}}</a>
            <p class="my-auto ms-2 text-muted medium-font">{{comment.time}}</p>
          </div>
          <div class="comment-content pt-1">
            <p style="font-size: 14px;" class="mb-0">
              {{comment.content}}
            </p>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Rent Lists -->
    <div id="rent-lists" class="pt-5 px-4 mx-5 pb-5">
      <!-- Rent list loop here -->
      {% if not bacc %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2">
        <h6 class="my-auto">No rent history yet!</h6>
      </div>
      {% else %}
        {% for request in breqs %}
        {% if request.status == 1 or request.status == 3 %}
          <div class="bg-white rounded-3 p-3 d-flex align-items-center justify-content-between mb-2">
            <a href="/product/{{request.product.id}}" class="h6 fw-bold mb-0 text-decoration-none text-dark flex-grow-1">{{request.product.p_name}} </a>
            <div class="me-3 ms-3">
            <a href="/ratelender/{{request.product.id}}" class="btn btn-primary small-btn shadow-lg">RATE PRODUCT</a>
            </div>
            <p class="text-muted medium-font m-0"><em>{{request.time}}</em></p>
          </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}