{% extends 'main/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
<div class="row container-fluid content p-0 m-0">
  <div class="col-xl-2 col-md-3 col-sm-4 col-xs-12 body-left pt-sm-5 pt-md-2 pt-lg-0 d-flex flex-column shadow" id="act-body-left" style="--bs-gutter-x: none;">
    <div class="act-nav-option d-flex justify-content-center align-items-center pe-3" id="act-menu-div-1">
      <input type='radio' value='1' name='actvity' id="act-menu-opt-1" onClick="changeColor(this.value)">
      <label for="act-menu-opt-1">Rent Requests</label>
    </div>
    <div class="act-nav-option d-flex justify-content-center align-items-center pe-3" id="act-menu-div-2">
      <input type='radio' value='2' name='actvity' id="act-menu-opt-2" onClick="changeColor(this.value)">
      <label for="act-menu-opt-2">Ratings</label>
    </div>
    <div class="act-nav-option d-flex justify-content-center align-items-center pe-3" id="act-menu-div-3">
      <input type='radio' value='3' name='actvity' id="act-menu-opt-3" onClick="changeColor(this.value)">
      <label for="act-menu-opt-3">Comments</label>
    </div>
    <div class="act-nav-option d-flex justify-content-center align-items-center pe-3" id="act-menu-div-4">
      <input type='radio' value='4' name='actvity' id="act-menu-opt-4" onClick="changeColor(this.value)">
      <label for="act-menu-opt-4">Rent History</label>
    </div>
  </div>
  <div class="col-xl-10 col-md-9 col-sm-8 col-xs-12 body-right">
    <!-- Rent requests section -->
    <div id="rent-requests" class="pt-5 mx-5 px-4 pb-5">
      <h5 class="blue-text fw-bold mx-1 mb-3">PENDING REQUESTS</h5>
      <!-- to display no pending requests if there is no pending requests -->
      {% if not pending %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2 shadow">
        <h6 class="my-auto">No Pending Requests</h6>
      </div>
      {% else %}
        <!-- request loop here -->
        {% for request in requests %}
          {% if not request.status %}
            <div class="row bg-white rounded-2 p-0 mx-1 mb-2 shadow">
              <div class="w-100 p-1 pb-0">
                <div class="d-flex justify-content-start ps-0">
                  <div class="card rounded-1 day-sticker p-1">
                      <p class="h6 fw-bold mb-0 text-black text-wrap m-0 medium-font"><i class="bi bi-stopwatch-fill my-auto me-2"></i>{{request.days}} days</p>
                  </div>
                </div>
              </div>
              <div class="row pe-0" style="height: 100px">
                <div class="col-12 col-lg-2 d-flex flex-column align-items-start">
                  <!--ADD LINK TO PROFILE OF BORROWER-->
                  <a href="/profile/{{request.borrower.id}}" id="" class="text-primary my-auto user-name-request">{{request.borrower.name}}</a>
                </div>
                <div class="col-12 col-lg-5 d-flex align-items-center">
                  <a href="/product/{{ request.product.id }}" class="h5 fw-bold mx-5 text-decoration-none text-dark">{{request.product.p_name}} </a>
                </div>
                <div class="col-12 col-lg-5 d-flex flex-column mt-3 pt-2">
                  <div class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-sm btn-primary me-3 medium-font" href="#" role="button">CHAT</a>
                    <a class="btn btn-sm btn-success me-3 medium-font" href="/accept/{{ request.id }}" role="button">ACCEPT</a>
                    <a class="btn btn-sm btn-danger me-3 medium-font" href="/decline/{{ request.id }}" role="button">DECLINE</a>
                  </div>
                  <!-- time and date -->
                  <div class="d-flex justify-content-end mt-3" style="height: 25px;">
                    <p class="me-2 text-secondary my-auto" style="font-size: 14px;"><em>{{request.time}}</em></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="d-flex mx-1 mt-5">
        <h5 class="blue-text fw-bold me-auto">ACCEPTED REQUESTS</h5>
        <!-- <label for="acc-req-filter" class="me-2 my-auto fw-bold">Order by</label>
        <select name="" id="acc-req-filter" class="form-select mb-2" style="width: 200px;">
          <option value="NewToOldest">New To Oldest</option>
        </select> -->
      </div>
      <!-- to display no accepted requests if there is no accepted requests -->
      {% if not accepted %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2 shadow">
        <h6 class="my-auto">No Accepted Requests</h6>
      </div>
      {% else %}
        {% for request in requests %}
          {% if request.status %}
            {% if request.status != 2 %}
              <div class="row bg-white rounded-2 p-2 mx-1 mb-2 shadow" style="height: 100px">
                <div class="col-12 col-lg-2 d-flex align-items-center">
                  <!--ADD LINK TO PROFILE OF BORROWER-->
                  <a href="/profile/{{request.borrower.id}}" id="" class="text-primary user-name-request">{{request.borrower.name}}</a>
                </div>
                <div class="col-12 col-lg-5 d-flex align-items-center">
                  <a href="/product/{{ request.product.id }}" class="h5 fw-bold mx-5 text-dark text-decoration-none">{{request.product.p_name}}</a>
                </div>
                <div class="col-12 col-lg-5 d-flex flex-column mt-3">
                  <div class="d-flex justify-content-center align-items-center">
                    {% if request.status == 1 %}
                      <a class="btn btn-primary btn-sm me-3 medium-font" href="/prodreceived/{{ request.id }}" role="button">PRODUCT
                        RECEIVED</a>
                    {% elif request.status == 3 or request.status == 5 %}
                      <!-- enable rate borrower -->
                      <a class="btn btn-sm btn-success me-3 medium-font" href="/rateborrower/{{request.id}}">RATE BORROWER</a>
                    {% else %}
                      <!-- rate borrower -->
                      <a class="btn btn-sm btn-success me-3 medium-font" href="/rateborrower">RATE BORROWER</a>
                    {% endif %}
                    <a class="btn btn-danger btn-sm me-3 medium-font" href="/reportuser/{{ request.borrower.id }}" role="button">REPORT USER</a>
                  </div>
                  <!-- time and date -->
                  <div class="d-flex justify-content-end mt-3" style="height: 25px;">
                    <p class="me-2 text-secondary my-auto mb-0 user-name-request"><em>{{request.time}}</em></p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="d-flex mx-1 mt-5">
        <h5 class="blue-text fw-bold me-auto">DECLINED REQUESTS</h5>
        <!-- <label for="acc-req-filter" class="me-2 my-auto fw-bold">Order by</label>
        <select name="" id="dec-req-filter" class="form-select mb-2" style="width: 200px;">
          <option value="NewToOldest">New To Oldest</option>
        </select> -->
      </div>
      <!-- to display no declined requests if there is no declined requests -->
      {% if not declined %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2 shadow">
        <h6 class="my-auto">No Declined Requests</h6>
      </div>
      {% else %}
        {% for request in requests %}
          {% if request.status == 2 %}
            <div class="row bg-white rounded-2 p-2 mx-1 shadow mb-2" style="height: 80px">
              <div class="col-12 col-lg-2 d-flex align-items-center">
                <!--ADD LINK TO PROFILE OF BORROWER-->
                <a href="/profile/{{request.borrower.id}}" id="" class="text-primary my-auto user-name-request">{{request.borrower.name}}</a>
              </div>

              <div class="col-12 col-lg-6 d-flex align-items-center">
                <a href="/product/{{ request.product.id }}" class="fw-bold mx-5 my-auto text-dark text-decoration-none">{{request.product.p_name}}</a>
              </div>

              <div class="col-12 col-lg-4 d-flex justify-content-end flex-column">
                <!-- time and date -->
                <div class="d-flex justify-content-end" style="height: 25px;">
                  <p class="me-2 text-secondary my-auto user-name-request"><em>{{request.time}}</em></p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    <!-- Rating section  -->
    <!-- Borrowed ratings -->
    <div id="ratings" class="pt-1 mx-5 px-4 pb-5">
      <div class="d-flex mx-1 mt-5">
        <h5 class="blue-text fw-bold me-auto">BORROWED</h5>
        <!-- <div class="d-flex justify-content-between mb-2">
          <label for="borrowed-filter" class="me-2 my-auto fw-bold">Order by</label>
          <select name="" id="borrowed-filter" class="form-select" style="width: 200px;">
            <option value="NewToOldest">New To Oldest</option>
          </select>
        </div> -->
      </div>
      <!-- borrow ratings loop here -->
      <div class="bg-white rounded-3 p-3 d-flex align-items-center justify-content-start mb-2 shadow-sm" style="height: 120px">
      {% if not len %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2 shadow">
        <h6 class="my-auto">You have not rated any lenders/products yet!</h6>
      </div>
      {% else %}
      {% for ele in borrowed_list %}
      <div class="bg-white rounded-3 p-3 d-flex align-items-center justify-content-start mb-2 shadow" style="height: 120px">
        <div class="d-flex align-items-center" style="width: 120px; height: 90px;">
          <img src="{{ele.product.p_image1.url}}" alt="porduct-image"
            class="rounded card-img-activity">
        </div>
        <div class="d-flex align-items-center flex-fill">
          <div class="mt-sm-3 mt-md-0 d-flex flex-column flex-fill">
            <a href="/product/{{ele.product.id}}"><h6 class="fw-bold mx-5">{{ele.product.p_name}}</h6></a>
            <div class="d-flex justify-content-start">
              <div class="lender-rating ms-5 mt-2 d-flex">
                <h6 class="medium-font my-auto">Lender Rating : </h6>
                <div class="d-flex medium-font ms-3">
                    <!-- loop star here -->
                    {% with ''|center:ele.len_rate as range %}
                      {% for _ in range %}
                        <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                      {% endfor %}
                    {% endwith %}
                    {% with 5|sub:ele.len_rate as n %}
                      {% for i in n|get_range %}
                        <p class="my-auto"><i class="bi bi-star text-primary me-1"></i></p>
                      {% endfor %}
                    {% endwith %}
                </div>
              </div>
              <div class="lender-rating ms-5 mt-2 d-flex">
                <h6 class="medium-font my-auto">Product Rating :</h6>
                <div class="d-flex medium-font ms-3">
                  <!-- loop star here -->
                    {% with ''|center:ele.prod_rate as range %}
                      {% for _ in range %}
                        <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                      {% endfor %}
                    {% endwith %}
                    {% with 5|sub:ele.prod_rate as n %}
                      {% for i in n|get_range %}
                        <p class="my-auto"><i class="bi bi-star text-primary me-1"></i></p>
                      {% endfor %}
                    {% endwith %}
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <p class="text-muted mb-auto medium-font"><em>{{ele.time}}</em></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      <!-- lent ratings -->
      <div class="d-flex mx-1 mt-5">
        <h5 class="blue-text fw-bold me-auto">LENT</h5>
        <!-- <div class="d-flex justify-content-between mb-2">
          <label for="lend-filter" class="me-2 my-auto fw-bold">Order by</label>
          <select name="" id="lend-filter" class="form-select" style="width: 200px;">
            <option value="NewToOldest">New To Oldest</option>
          </select>
        </div> -->
      </div>

      <div class="bg-white rounded-3 p-3 d-flex align-items-center justify-content-start mb-2 shadow-sm" style="height: 120px">
      <!-- lent ratings loop here -->
      {% if not bor %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2 shadow">
        <h6 class="my-auto">You have not rated any borrowers yet!</h6>
      </div>
      {% else %}
      {% for ele in lent_list %}
      <div class="bg-white rounded-3 p-3 d-flex align-items-center justify-content-start mb-2 shadow" style="height: 120px">
        <div class="d-flex align-items-center" style="width: 120px; height: 90px;">
          <img src="{{ele.product.p_image1.url}}" alt="porduct-image"
            class="card-img-activity rounded">
        </div>
        <div class="d-flex align-items-center flex-fill">
          <div class="mt-sm-3 mt-md-0 d-flex flex-column flex-fill">
            <a href="/product/{{ele.product.id}}"><h6 class="fw-bold mx-5">{{ele.product.p_name}}</h6></a>
            <div class="d-flex justify-content-start">
              <div class="lender-rating ms-5 mt-2 d-flex">
                <h6 class="medium-font my-auto">Borrower Rating : </h6>
                <div class="d-flex medium-font ms-3">
                  <!-- loop star here -->
                    {% with ''|center:ele.val as range %}
                      {% for _ in range %}
                        <p class="my-auto"><i class="bi bi-star-fill text-primary me-1"></i></p>
                      {% endfor %}
                    {% endwith %}
                    {% with 5|sub:ele.val as n %}
                      {% for i in n|get_range %}
                        <p class="my-auto"><i class="bi bi-star text-primary me-1"></i></p>
                      {% endfor %}
                    {% endwith %}
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <p class="text-muted mb-auto medium-font"><em>{{ele.time}}</em></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

    </div>

    <!-- comments -->
    <div id="comments" class="pt-5 px-4 mx-5 pb-5">
      <!-- comment loop here -->
      {% if not com %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2 shadow">
        <h6 class="my-auto">You have not made any comments yet!</h6>
      </div>
      {% else %}
      {% for comment in comments %}
      <div class="card mb-2 p-3 shadow">
        <div class="card-body p-0">
          <div class="d-flex">
            <a href="/product/{{comment.product.id}}" class="h6">{{comment.product.p_name}}</a>
            <p class="my-auto ms-2 text-muted medium-font">{{comment.time}}</p>
          </div>
          <div class="comment-content pt-1">
            <p style="font-size: 14px;" class="mb-0">
              {{comment.content}}
            </p>
          </div>

        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    <!-- Rent Lists -->
    <div id="rent-lists" class="pt-5 px-4 mx-5 pb-5">
      <!-- Rent list loop here -->
      {% if not bacc %}
      <div class="row bg-white rounded-2 p-3 mx-1 mb-2 shadow">
        <h6 class="my-auto">No rent history yet!</h6>
      </div>
      {% else %}
        {% for request in breqs %}
        {% if request.status == 1 or request.status == 3 or request.status == 4 or request.status == 5 or request.status == 6%}
        <div class="bg-white rounded-3 p-3 d-flex align-items-center justify-content-between mb-2 shadow">
            <a href="/product/{{request.product.id}}" class="h6 fw-bold mb-0 text-decoration-none text-dark flex-grow-1">{{request.product.p_name}} </a>
            {% if request.status == 1 or request.status == 3 or request.status == 4 %}
            <div class="me-3 ms-3">
            <a href="/ratelender/{{request.id}}" class="btn btn-primary small-btn shadow">RATE PRODUCT</a>
            </div>
            {% else %}
            <div class="me-3 ms-3">
            <a href="" class="btn btn-secondary small-btn shadow">RATE PRODUCT</a>
            </div>
            {% endif %}
            <p class="text-muted medium-font m-0"><em>{{request.time}}</em></p>
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}