{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="row container-fluid content px-0 mx-0 pt-5 pt-lg-0 mt-5 mt-lg-0">
    <div class="col-xl-2 col-md-3 col-sm-4 col-12 body-left">
        <div class="search-form pt-3 ps-1">
            <form action="">
                <div class="input d-flex align-items-center">
                    <div class="inputicon flex-grow-1 bd-highlight">
                        <img src="{% static 'Assets/search-icon.png' %}" alt="search-icon">
                    </div>
                    <div class="inputbox d-flex align-items-center">
                        <input type="text" id="search" name="search" class="textinputs ms-1"
                            placeholder="Search for Product"><br><br>
                    </div>
                </div>
                <select class="border-dark form-select form-select-sm mt-3 text-secondary myselect" aria-label="">
                    <option selected>Range</option>
                    <option value="1">5 km</option>
                    <option value="2">10 km</option>
                    <option value="3">11 km</option>
                </select>
                <select class="border-dark form-select form-select-sm mt-3 text-secondary" aria-label="">
                    <option selected>Price</option>
                    <option value="1">Low to High</option>
                    <option value="2">High to Low</option>
                </select>
                <select class="border-dark form-select form-select-sm mt-3 text-secondary" aria-label="">
                    <option selected>Rating</option>
                    <option value="1">Low to High</option>
                    <option value="2">High to Low</option>
                </select>
                
                <div class="filter pt-3">
                    <button type="submit" class="btn btn-outline-light" id="filter-button"><a class="text-light fw-bold"
                            href="/filterit" style="text-decoration: none; font-size: .8em;">APPLY FILTER</a></button>
                </div>
            </form>

        </div>
    </div>
    <div class="col-xl-10 col-md-9 col-sm-8 col-xs-12 body-right">
        <div class="heading ps-4 mt-4">
            <h2 class="main-heading">PRODUCTS NEAR YOU <img class="prod-icon" src="{% static 'Assets/product-icon.png' %}"
                    alt="prod-icon"></h2>
        </div>

        <div class="d-flex justify-content-between flex-wrap px-4">
            {% for product in products %}
            <div class="product text-decoration-none mb-5">
                <div class="card pt-2" style="width: 21rem;">
                    <a href="/product/{{ product.id }}" class="text-center p-2">
                        <img src="{{ product.p_image1.url }}" class="card-img-home w-100" alt="Product1">
                    </a>
                    <div class="card-body d-flex flex-column">
                        <div class="topdisp">
                            {% if not product.status %}
                                <h6 class="available fw-bold float-start">Available Now</h6>
                            {% else %}
                                <h6 class="available fw-bold float-start" style="color:red">Not Available</h6>
                            {% endif %}
                            <div class="star-rating float-end text-center">
                                <div class="rating-value float-start ms-2">
                                    <p>{{ product.rating }}</p>
                                </div>
                                <img src="{% static 'Assets/star.png' %}" alt="star" class="float-start mt-1 ms-1">
                            </div>
                        </div>
                        <h5 class="card-title prod-name fw-bold mt-2 text-dark">{{ product.p_name }}</h5>
                        <h6 class="fw-bold text-dark">{{product.user.district}},{{product.user.state}}</h6>
                        <div class="mt-3 text-dark">
                            <h6 class="fw-bold float-start"><i class="fa fa-rupee"></i> {{ product.p_rate }} /day</h6>
                            {% if product.id in prodids%}
                                <form method="post" action="/unwish/{{ product.id }}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" id="" name="homepageb2" value="20">
                                <button type="submit" class="float-end btn btn-link" tabindex="-1" role="button" aria-disabled="true">
                                    <i class="bi bi-heart-fill text-danger"></i>
                                </button>
                                </form>
                            {% else %}
                                <form method="post" action="/wishlist/{{ product.id }}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" id="" name="homepageb1" value="10">
                                <button type="submit" class="float-end btn btn-link" tabindex="-1" role="button" aria-disabled="true">
                                    <i class="bi bi-heart text-dark"></i>
                                </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}