{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="row container-fluid content px-0 mx-0 pt-5 pt-lg-0 mt-5 mt-sm-0">
    <div class="col-xl-2 col-xxl-3 col-md-3 col-sm-4 col-12 body-left shadow">
        <div class="search-form pt-3 ps-1">
                <!-- <div class="input d-flex align-items-center mb-3">
                    <div class="inputicon flex-grow-1 bd-highlight">
                        <img src="{% static 'Assets/search-icon.png' %}" alt="search-icon">
                    </div>
                    <div class="inputbox d-flex align-items-center">
                        <input type="search" id="search" name="search" class="textinputs ms-1"
                            placeholder="Search Product"><br><br>
                    </div>
                    
                </div> -->
                
            <form method="POST" action="/filterit/" enctype="multipart/form-data">
                {% csrf_token %}
                <select class="border-dark form-select form-select-sm mt-3 text-secondary myselect" aria-label="">
                    <option selected>Range</option>
                    <option value="1">5 km</option>
                    <option value="2">10 km</option>
                    <option value="3">11 km</option>
                </select>
                <select name="price" class="border-dark form-select form-select-sm mt-3 text-secondary" aria-label="">
                    <option value="0" selected>Price</option>
                    <option value="1">Low to High</option>
                    <option value="2">High to Low</option>
                </select>
                <select name="rating" class="border-dark form-select form-select-sm mt-3 text-secondary" aria-label="">
                    <option value="0" selected>Rating</option>
                    <option value="1">Low to High</option>
                    <option value="2">High to Low</option>
                </select>

                <div class="filter pt-3">
                    <button type="submit" class="btn btn-outline-light" id="filter-button">
                        <p class="text-light fw-bold my-auto" style="text-decoration: none; font-size: .8em;">APPLY FILTER</p>
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="col-xl-10 col-xxl-9 col-md-9 col-sm-8 col-xs-12 body-right">
        <form action="/searchProduct/" method="POST" class="ps-4 pe-4  pt-3" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3 pt-4">
                <input name="searched_prod" required type="search" class="form-control border-0" id="searchProduct" placeholder="Search for products">              
                <div class="input-group-append rounded-end shadow" style="background-color: #bbcafd;">
                  <button class="btn" type="submit" id="search-button-home"  style="font-size: 14px;"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
        <div class="heading mt-4 ps-4 ms-2">
            <h4 class="main-heading fw-bold">PRODUCTS NEAR YOU<i class="bi bi-bag-fill ms-1"></i></h4>
        </div>

        <div class="d-flex flex-wrap ps-4">
            {% if products|length < 1 %}
                <div class="p-2">
                    <h5 class="fw=bold text-dard">No Products Found...</h5>
                </div>
            {% else %}
                {% for product in products %}
                <div class="p-2">
                    <div class="product text-decoration-none mb-2">
                        <div class="card pt-2 d-flex flex-column shadow" style="width: 15rem; height: 350px; border-radius: 0.5rem">
                            <a href="/product/{{ product.id }}" class="text-center p-2" style="width: 15em; height: 150px;">
                                <img src="{{ product.p_image1.url }}" class="card-img-home w-100 h-100 rounded" alt="ProductImage" style="object-fit: contain ;">
                            </a>
                            <div class="card-body d-flex justify-content-between flex-column">
                                <div class="d-flex justify-content-between flex-column">
                                    <div class="topdisp">
                                        {% if not product.status %}
                                            <h6 class="available fw-bold float-start" style="font-size: 13px;">Available Now</h6>
                                        {% else %}
                                            <h6 class="available fw-bold float-start" style="color:red; font-size: 13px;">Not Available</h6>
                                        {% endif %}
                                        <div class="star-rating float-end text-center">
                                            <div class="rating-value float-start ms-2">
                                                <p>{{ product.rating }}</p>
                                            </div>
                                            <img src="{% static 'Assets/star.png' %}" alt="star" class="float-start mt-1 ms-1">
                                        </div>
                                    </div>
                                    <h5 class="card-title prod-name fw-bold text-dark mt-1" style="font-size: 18px;">{{ product.p_name }}</h5>
                                    <h6 class="fw-bold text-dark" style="font-size: 16px;">{{product.user.district}},{{product.user.state}}</h6>
                                </div>
                                <div class="mt-2 text-dark d-flex align-items-center justify-content-between">
                                    <h6 class="fw-bold float-start"><i class="fa fa-rupee"></i> {{ product.p_rate }} /day</h6>
                                    {% if product.id in prodids%}
                                        <form method="post" action="/unwish/{{ product.id }}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" id="" name="homepageb2" value="20">
                                        <button type="submit" class="float-end btn btn-link" tabindex="-1" role="button" aria-disabled="true">
                                            <i class="bi bi-heart-fill text-danger"></i>
                                        </button>
                                        </form>
                                    {% else %}
                                        <form method="post" action="/wishlist/{{ product.id }}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" id="" name="homepageb1" value="10">
                                        <button type="submit" class="float-end btn btn-link" tabindex="-1" role="button" aria-disabled="true">
                                            <i class="bi bi-heart text-dark"></i>
                                        </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<!-- scroll to top button -->
<button type="button" class="btn btn-primary btn-floating btn-lg rounded-circle shadow" id="btn-back-to-top">
    <i class="bi bi-arrow-up"></i>
  </button>
  
<script src="{% static 'js/scrollup.js' %}"></script>
    
{% endblock %}