{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid ms-0 m-5 m-lg-0 pt-5 pt-md-4" id="product-view-body">
    <div class="row prod-details mt-5 mt-md-0">
      <div class="prod-desc col-12 col-md-6 d-flex justify-content-center mb-5">
        <div class="card" style="width: 28rem; height: 500px;">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ product.p_name }}</h5>
            <!-- <h5 class="card-title fw-bold">DELL OptiPlex 7490 All-in-One Monitor Black color</h5> -->
            <h6 class="card-subtitle mb-2 float-start red-text fw-bold" id="product-price">{{ product.p_rate }}/day</h6>
            <div class="star-rating float-end text-center">
              <div class="rating-value float-start ms-2">
                <p >4</p>
              </div>
              <img src="{% static 'Assets/star.png' %}" alt="star" class="float-start mt-1 ms-1">
            </div>
            <br>
            <hr>
            <p class="card-text" id="prod-details">{{ product.p_desc }}</p>
            <!-- <p class="card-text" id="prod-details">Windows 10 Pro (Windows 11 Pro license included), 11th Gen Intel Core i5-11500 (12 MB cache, 6 cores, 12 threads, 2.70 to 4.60 GHz Turbo, 65W)</p> -->
            <p class="semi-bold">Lender details:</p>
            <p>Full Name,</p>
            <p>Full Address Address Address <a href="" class="red-text fw-bold">REPORT USER</a></p>
            <div class="d-flex justify-content-start">
              <h6 class="me-2 pt-1 fw-bold">Rent for</h6>
              <button class="me-2 rounded-circle bg-transparent">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </button>
              <h6 id="days" class="me-2 pt-1 fw-bold">5</h6>
              <button class="me-2 rounded-circle bg-transparent">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </button>
              <h6 class="fw-bold pt-1">days</h6>
            </div>
            <br>
            <br>
            <div class="d-flex justify-content-center">
              <a href="#" class="card-link btn btn-outline-danger btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">ADD TO WISHLIST</a>
              <a href="#" class="card-link btn btn-green btn-lg disabled" tabindex="-1" role="button" aria-disabled="true" id="wishlist-btn">BORROW NOW</a>
            </div>
           
            
          </div>
        </div>
      </div>
      <div class="prod-img  col-12 col-md-6 d-flex justify-content-center">
        <div class="card justify-content-center ps-3 pe-3"  style="width: 35rem; height: 500px;">
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="width: 100%">
            <div class="carousel-inner" style="height: 400px;">
              <div class="carousel-item active justify-content-center" data-bs-interval="5000">
                <img src="{{ product.p_image1.url }}" class="d-block w-100 h-100 card-imgs" alt="Image1">
              </div>
              {% if product.p_image2.url != NULL %}
              <div class="carousel-item justify-content-center" data-bs-interval="5000">
                <img src="{{ product.p_image2.url }}" class="d-block w-100 h-100 card-imgs" alt="Image2">
              </div>
              {% endif %}
              {% if product.p_image3.url != NULL %}
              <div class="carousel-item justify-content-center" data-bs-interval="5000">
                <img src="{{ product.p_image3.url }}" class="d-block w-100 h-100 card-imgs" alt="Image3">
              </div>
              {% endif %}
            </div>
            {% if product.p_image2.url != NULL %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            {% endif %}
          </div>
        </div>
      </div>
      
      <!-- <div class="prod-img  col-12 col-md-6 d-flex" >
        <div class="card justify-content-center ps-3 pe-3"  style="width: 35rem; height: 500px;">
          <img src="Assets/ProductImages/Product2.jpg" class="card-imgs" alt="product image">
        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}