{% extends 'main/base.html' %}
{% load static %}
{% block content %}

  <div class="d-flex justify-content-center pb-5">
    <div class="profile d-flex flex-column mt-5 mt-lg-3 pt-5 pt-lg-0">
        <h3 class="fw-bold mx-auto">USER PROFILE</h3>
        <div class="mx-auto mt-3">   
            <img src="{% static 'Assets/ProfileIconLarge.png' %}" alt="ProfileIcon">
        </div>
        <div class="profile-details">
            <div class="mb-2">
                <label for="profileFormInput1" class="form-label fw-bold">Name</label>
                <input type="text" class="form-control" id="profileFormInput1" placeholder="" disabled="True" value="{{prof_user.name}}">
            </div>
            <div class="mb-2">
                <label for="profileFormInput2" class="form-label fw-bold">State</label>
                <input type="text" class="form-control" id="profileFormInput2" placeholder="" disabled="True" value="{{prof_user.state}}">
            </div>
            <div class="mb-2">
                <label for="profileFormInput3" class="form-label fw-bold">District</label>
                <input type="text" class="form-control" id="profileFormInput3" placeholder="" disabled="True" value="{{prof_user.district}}">
            </div>
        </div>
        <div id="borrower-rating" class="mt-3">
            <h5 class="">User As Borrower</h5>
            <div class="d-flex">
                <!-- loop star here -->
                {% for i in b %}
                <p><i class="bi bi-star-fill text-primary me-1"></i></p>
                {% endfor %}
                {% for i in bx %}
                <p><i class="bi bi-star text-primary me-1"></i></p>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div id="lender-rating" class="mt-1">
                <h5 class="">User As Lender</h5>
                <div class="d-flex">
                    <!-- loop star here -->
                    {% for i in l %}
                    <p><i class="bi bi-star-fill text-primary me-1"></i></p>
                    {% endfor %}
                    {% for i in lx %}
                    <p><i class="bi bi-star text-primary me-1"></i></p>
                    {% endfor %}
                </div>
            </div>
            <!-- this is when he/she view other profiles -->
            {% if prof_user.id != userid %}
            <div class="d-flex align-items-center">
                <a class="btn btn-sm btn-danger" href="/reportuser/{{ prof_user.id }}">REPORT USER</a>
            </div>
            {% endif %}
            
        </div>
        <!-- this is when he/she view his/her own profile -->
        {% if prof_user.id == userid %}
        <div class="d-flex justify-content-center">
            <a href="/profileedit/{{ prof_user.id }}" class="btn btn-primary" >Edit Profile</a>
        </div>
        {% endif %}
        
    </div>
  </div>
  
{% endblock %}
