{% extends 'main/base.html' %}
{% load static %}
{% block content %}

  <div class="d-flex justify-content-center pb-5">
    <div class="profile d-flex flex-column mt-5 mt-lg-3 pt-5 pt-lg-0">
        <h3 class="fw-bold mx-auto">EDIT YOUR PROFILE</h3>
        <div class="mx-auto mt-3">   
            <img src="{% static 'Assets/ProfileIconLarge.png' %}" alt="ProfileIcon">
        </div>

        <form method="POST" action="/profileedit/{{prof_user.id}}" style="width: 450px;" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <label for="profileEditFormInput1" class="form-label fw-bold">Name</label>
                <input name="name" type="text" class="form-control bg-transparent border border-dark" id="profileEditFormInput1" placeholder="{{prof_user.name}}" value="{{prof_user.name}}" maxlength="30">
            </div>
            <div class="mb-2">
                <label for="profileEditFormInput2" class="form-label fw-bold">Email</label>
                <input name="email" type="email" class="form-control bg-transparent border border-dark" id="profileEditFormInput2" placeholder="{{prof_user.email}}" value="{{prof_user.email}}">
            </div>
            <div class="mb-2">
                <label for="profileEditFormInput3" class="form-label fw-bold">Phone No.</label>
                <input name="phoneno" type="tel" class="form-control bg-transparent border border-dark" id="profileEditFormInput3" placeholder="{{prof_user.phoneno}}" value="{{prof_user.phoneno}}" maxlength="11">
            </div>
            <div class="mb-2">
                <label for="profileEditFormInput4" class="form-label fw-bold">Password</label>
                <input name="password" type="password" class="form-control bg-transparent border border-dark" id="profileEditFormInput4" placeholder="password" value="">
            </div>
            <div class="mb-2 d-flex justify-content-between">
                <div style="width: 47%;">   
                    <label for="profileEditFormInput5" class="form-label fw-bold">State</label>
                    <select class="form-select w-100 bg-transparent border border-dark" id="states" name="states">
                        <option value="{{prof_user.state}}" class="options" disabled selected>{{prof_user.state}}</option>
                        <option value="Andra Pradesh" class="options">Andra Pradesh</option>
                        <option value="Arunachal Pradesh" class="options">Arunachal Pradesh</option>
                        <option value="Assam" class="options">Assam</option>
                        <option value="Bihar" class="options">Bihar</option>
                        <option value="Chhattisgarh" class="options">Chhattisgarh</option>
                        <option value="Goa" class="options">Goa</option>
                        <option value="Gujarat" class="options">Gujarat</option>
                        <option value="Haryana" class="options">Haryana</option>
                        <option value="Himachal Pradesh" class="options">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir" class="options">Jammu and Kashmir</option>
                        <option value="Jharkhand" class="options">Jharkhand</option>
                        <option value="Karnataka" class="options">Karnataka</option>
                        <option value="Kerala" class="options">Kerala</option>
                        <option value="Madya Pradesh" class="options">Madya Pradesh</option>
                        <option value="Maharashtra" class="options">Maharashtra</option>
                        <option value="Manipur" class="options">Manipur</option>
                        <option value="Meghalaya" class="options">Meghalaya</option>
                        <option value="Mizoram" class="options">Mizoram</option>
                        <option value="Nagaland" class="options">Nagaland</option>
                        <option value="Orissa" class="options">Orissa</option>
                        <option value="Punjab" class="options">Punjab</option>
                        <option value="Rajasthan" class="options">Rajasthan</option>
                        <option value="Sikkim" class="options">Sikkim</option>
                        <option value="Tamil Nadu" class="options">Tamil Nadu</option>
                        <option value="Telangana" class="options">Telangana</option>
                        <option value="Tripura" class="options">Tripura</option>
                        <option value="Uttaranchal" class="options">Uttaranchal</option>
                        <option value="Uttar Pradesh" class="options">Uttar Pradesh</option>
                        <option value="West Bengal" class="options">West Bengal</option>
                        <option disabled style="background-color:rgb(154, 182, 223); color:#fff">UNION Territories</option>
                        <option value="Andaman and Nicobar Islands" class="options">Andaman and Nicobar Islands</option>
                        <option value="Chandigarh" class="options">Chandigarh</option>
                        <option value="Dadar and Nagar Haveli" class="options">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu" class="options">Daman and Diu</option>
                        <option value="Delhi" class="options">Delhi</option>
                        <option value="Lakshadweep" class="options">Lakshadweep</option>
                        <option value="Pondicherry" class="options">Pondicherry</option>
                    </select>
                </div>
                <div style="width: 47%;">   
                    <label for="districts" class="form-label fw-bold">District</label>
                    <select class="form-select w-100 bg-transparent border border-dark" id="districts" name="districts">
                        <option value="{{prof_user.district}}" class='options' disabled selected>{{prof_user.district}}</option>
                    </select>
                </div>
            </div>
            <div class="mb-2">
                <label for="profileEditFormInput7" class="form-label fw-bold">Address</label>
                <textarea  name="address" class="form-control bg-transparent border border-dark" id="profileEditFormInput7" name="profileEditAddress" rows="3" placeholder="{{prof_user.address}}" value="{{prof_user.address}}" maxlength="90"></textarea>
                <button type="submit" class="btn btn-success float-start mt-2" style="width: 120px;">Submit</button>
            </div>
        </form>
        <div class="mb-2">
            <a href="/actlend/{{prof_user.id}}" class="text-dark fw-bold float-end">Activate Lender Acount</a>
        </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="{% static 'js/districtselect.js' %}"></script>
{% endblock %}