{% extends 'main/base.html' %}
{% load static %}
{% block content %}

  <div class="d-flex flex-column align-items-center mt-5 pt-5">
    <div class="card">
      <form method="POST" action="/repous/{{userid}}">
        {% csrf_token %}
      <div class="card-body">
        <textarea name="description" class="form-control" id="" rows="3" placeholder="Enter reason for report" style="width: 800px;"></textarea>
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-danger">Submit Report</button>
        </div>
      </div>
      </form>

    </div>

  </div>
  
{% endblock %}